@using System.Data;

@* model en minuscula permite poner codigo c# en html *@
@model DataTable

<body>

    <div class="col-lg-8 mx-auto p-4 py-md-5">


        <main>
                <h1 class="text-body-emphasis">Felicidades!! se registro tu compra.</h1>

                <div class="mb-5">
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Volver al inicio</a>
                </div>

                <hr class="col-3 col-md-2 mb-5">


        </main>

        <h1 class="text-body-emphasis">Historial de compras.</h1>
        <br />
        <hr class="col-3 col-md-2 mb-5">


        <div class="row g-5">
            <table>
                <tr>
                    <td><span style="font-size: 20px; font-weight: bold;">Usuario:</span></td>
                    <td><span style="font-size: 20px; font-weight: bold;">Correo :</span></td>
                    <td><span style="font-size: 20px; font-weight: bold;">Producto:</span></td>
                    <td><span style="font-size: 20px; font-weight: bold;">Precio:</span></td>
                    <td><span style="font-size: 20px; font-weight: bold;">Medio de pago:</span></td>


                </tr>

                @foreach (DataRow r in Model.Rows)
                {
                    <tr>
                        <td>
                            <div class="col-sm-4 themed-grid-col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Convert.ToString(r["Usuario"])</font></font></div>
                            <br />
                        </td>
                        <td>
                            <div class="col-sm-4 themed-grid-col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Convert.ToString(r["Correo"])</font></font></div>
                            <br />
                        </td>
                        <td>
                            <div class="col-sm-4 themed-grid-col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Convert.ToString(r["NombreProducto"])</font></font></div>
                            <br />
                        </td>
                        <td>
                            <div class="col-sm-4 themed-grid-col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Convert.ToString(r["PrecioProducto"])</font></font></div>
                            <br />
                        </td>
                        <td>
                            <div class="col-sm-4 themed-grid-col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Convert.ToString(r["MedioDePago"])</font></font></div>
                            <br />
                        </td>
                    </tr>
                }
           

                
            </table>
        </div>


       
    </div>
    
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



</body>
